.App {
  background-color: #2122ff;
}
.header-bar {
  font-family: "Lucida Bright";
  background-color: #ffd622;
}
.contenedor {
  height: auto;
  font-family: "Verdana";
  background-color: #0001b3;
  min-height: 100vh;
}
.card {
  width: 15%;
  background-color: #dcdcdc;
  -webkit-box-shadow: 0px 1px 15px -4px #000000;
  box-shadow: 0px 1px 15px -4px #000000;
}
#ground {
  background-color: #8b4513;
  color: white;
}
#water {
  background-color: #1e90ff;
  color: white;
}
#grass {
  background-color: green;
  color: white;
}
#electric {
  background-color: #ffd700;
  color: black;
}
#flying {
  background-color: #e6e6fa;
  color: black;
}
#poison {
  background-color: blueviolet;
  color: white;
}
#bug {
  background-color: #32cd32;
  color: black;
}
#steel {
  background-color: #c0c0c0;
  color: black;
}
#fire {
  background-color: orange;
  color: black;
}
#dragon {
  background-color: #ff4500;
  color: black;
}
#normal {
  background-color: #fff8dc;
  color: black;
}
#fighting {
  background-color: #dc143c;
}
#rock {
  background-color: #708090;
  color: white;
}
#ghost {
  background-color: #9400d3;
  color: white;
}
#psychic {
  background-color: pink;
}
#ice {
  background-color: aqua;
}
#dark {
  background-color: black;
  color: white;
}
#fairy {
  background-color: #ffb6c1;
}
